<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Songs</h1>
    <ol>
        <% for(let i=0;i<songs.length;i++) {%>
            <li><%= songs[i].path %>  </li>
        <%}%>
    </ol>
</body>
</html>